body {
	background-color:white;
}
h1{
	color:black;
	font-family: Tahoma;
	text-align: center;
	background-color:white;
	font-size: 18px;
	margin: 1px;
}

h2{
	color:#383838;
	font-family:Tahoma;
	text-align:center;
	margin-bottom: 13px;
	margin-top: 1px;
	font-size:12px;
}

h3{
	color:black;
	font-family: Cambria,Georgia,serif;
	margin-top:15px;
	margin-bottom: 15px;
	font-size: 15px;
	text-align:center;
	float:center;
	width: 99%;
	border: 3px;
    border-style: solid;
    border-color: #00141a;

}

.p04{
	color:black;
	font-family:Cambria,Georgia,serif;

	font-size: 13px;
}

.p01{

	font-size: 12px;
	color:#707070;
	float:right;
	margin-bottom: 0;
	margin-top: 0;
}

.p02{

	font-size: 12px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}

.p05{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
	font-size: 12px;
	text-align: left;
}

.p06{
	margin-top: 1px;
	font-size: 12px;
	text-align: left;
	margin-left: 30px;	
	margin-bottom: 5px;

}

.p07{
	margin-top: 0px;
	margin-bottom: 0;
	font-size: 12px;
	text-align: left;
	margin-left: 30px;	
}

.p03{
	font-size: 12px;
	text-align: left;
	margin-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;

}

.projtext{
	text-decoration: none;
	color: #004d99;	
}

.revproj{
	margin-left: 20px;

}

.brmedium{
	margin:50px;
}